@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aplicação desenvolvida para o Curso de Análise eDesenvolvimento de Sistemas.</p><p>Esta aplicação foi utilizada para 
ministrar os seguintes cursos:</p>
<ul>
    <li>Arquitetura de Software - 2017/4</li>
</ul>
