@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Praça General Osório, 125<br />
    Centro, Curitiba - PR<br />
    CEP: 80020-010<br />
    <abbr title="Phone">Telefone:+55(41)3317-3000</abbr>
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:alex.gracas@up.edu.br">alex.gracas@up.edu.brm</a><br />
</address>
